/*@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.0/styles/github-dark.min.css";*/
/*@import "@wooorm/starry-night/style/high-contrast";*/

html, body {
  margin: 0;
  background: rgb(144, 137, 249);
  background: linear-gradient(152deg, rgba(144, 137, 249, 1) 5%, rgba(150, 192, 255, 1) 28%, rgba(211, 212, 253, 1) 55%, rgba(169, 240, 255, 1) 100%);
  background-size: 150% 150%; /* Ensure the gradient expands for a smooth transition */
  background-attachment: fixed;

  font-family: "Georgia", "楷体", serif;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

.markdown-body {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

.article-body {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
}

.markdown-body :lang(en) {
  /*font-size: 22px;*/
}

.markdown-body :lang(zh) {
  font-size: 15px; /* slightly smaller for balance */
}

.cardStyle {
  background: rgb(144, 137, 249);
  background: linear-gradient(-50deg, rgba(144, 137, 249, 1) 10%, rgba(150, 192, 255, 1) 30%, rgba(211, 212, 253, 1) 55%, rgba(150, 192, 255, 1) 100%);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}